<div class="templateRegion" id="oeAssignment6ShopByCategoryPedroTemplateRegion" data-oc-id="oeAssignment6ShopByCategoryPedroTemplateRegion">
  <!-- oc layout: panels -->
  <div class="row">
    <div class="oc-panel col-md-12" data-oc-id="panel-1">
      <!-- oc section: category-card -->
      <span data-bind="element: 'category-card'"></span>
      <!-- /oc -->
    </div>
  </div>
  <!-- /oc -->
</div>
